<article class="post-card">
  <div class="post-card-meta">
    {{ with .Params.tags }}
    <span class="tag">{{ index . 0 }}</span>
    <span class="sep">·</span>
    {{ end }}
    <span>{{ .Date.Format "2006年01月02日" }}</span>
    {{ with .ReadingTime }}
    <span class="sep">·</span>
    <span>{{ . }} 分钟阅读</span>
    {{ end }}
  </div>
  <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  {{ with .Summary }}
  <p>{{ . }}</p>
  {{ else }}
  <p>{{ .Plain | truncate 120 }}</p>
  {{ end }}
</article>
